@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
        @apply md:w-[750px] lg:w-[1000px] xl:w-[1300px] mx-auto;
    }
    .skeleton {
        @apply rounded-[0.25rem] bg-sub animate-pulse
    }
    .search {
        @apply w-full h-[3rem] p-[1rem] border-[0.05rem] border-supersub
        text-[1rem] placeholder:text-sub
        focus:outline outline-[0.05rem] outline-sub
    }
    .textarea {
        @apply p-[1rem] overflow-hidden placeholder:text-sub
    }

    
    
    .hide-scrollbar {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

textarea {
    border: none;
    resize: none;
}

:root {
    --wh: #ffffff;
    
    --background: #fafafa;
    --foreground: #0a0a0a;

    --sub: #737373;
    --supersub: #d4d4d4;

    --em: #22c55e;
    --powerem: #166534;
    --bad: #ef4444;
    --powerbad: #991b1b;
}