@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
        @apply w-full md:w-[750px] lg:w-[1000px] xl:w-[1300px] mx-auto;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #fafafa;
    --foreground: #0a0a0a;
}